:root {
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Overpass;
    font-size: 15px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--LightGrey);
    background-color: var(--VeryDarkBlue);
}

.container {
    text-align: left;
    margin: 0 auto;
    background-color: var(--DarkBlue);
    width: min(90%, 380px);
    height: min(80%, 380px);
    padding: 2rem 2rem 1rem;
    border-radius: 25px;
}

#svg1 {
    box-sizing: content-box;
    width: 1rem;
    padding: 0.75rem;
    border-radius: 50%;
    background-color: hsl(218, 19%, 23%);
}

h2 {
    color: var(--White);
    margin: 1.2rem 0 0.5rem;
    font-size: 2rem;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

input {
    background-color: hsl(218, 19%, 23%);
    border: none;
    color: var(--LightGrey);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 1rem;

}

button {
    font-weight: 700;
    letter-spacing: 1px;
    background-color: var(--Orange);
    color: var(--White);
    border: none;
    grid-column: span 5;
    margin-top: 1rem;
    padding: 12px 0;
    border-radius: 30px;
}


/* Media Queries */
@media screen and (max-width: 410px) {
    p {
        margin-bottom: 1rem;
    }

    button {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 325px) {
    .container {
        padding: 1rem 1rem 0.5rem;
    }

    h2 {
        font-size: 1.rem;
    }

    input {
        padding: 0.5rem;
        width: 30px;
        height: 30px;
    }

    button {
        font-size: 0.75rem;
        height: 90%;
    }
}


/* Pseudo Classes */
input:hover {
    background-color: var(--LightGrey);
    cursor: pointer;
    color: var(--White);
    transition: 0.2s;
}

input:focus {
    background-color: var(--Orange);
    color: var(--White);
}

button:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: var(--White);
    color: var(--Orange);
}

button:focus {
    background-color: rgba(255, 255, 255, 0.65);
    color: var(--Orange);
}

/* Thankyou Page */
span {
    color: var(--Orange);
    display: block;
    max-width: 200px;
    padding: 0.5rem;
    text-align: center;
    border-radius: 30px;
    background-color: hsl(218, 19%, 23%);
}

#svg2 {
    margin-bottom: 0.75rem;
    width: min(50%, 230px);
}


.thankyou-container {
    margin: 0 auto;
    background-color: var(--DarkBlue);
    width: min(90%, 380px);
    height: min(80%, 380px);
    padding: 2rem 2rem 1rem;
    border-radius: 25px;
    text-align: center;
    padding: 1rem 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invis {
    display: none;
}

.attribution {
    width: 100%;
    position: absolute;
    bottom: 0;
}
